{% extends 'page_base/base.html' %}

{% block main %}
    <div class="container mt-5">
        <div class="alert alert-info" role="alert">
            <h1 class="display-4">No hay páginas aún</h1>
            <p class="lead">Actualmente no hay páginas en el blog.</p>
            
            {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'page_create' %}">crear una nueva página</a>
            {% else %}
                <p>Para crear una nueva página, por favor <a href="{% url 'login' %}">inicia sesión</a> o <a href="{% url 'register' %}">regístrate</a>.</p>
            {% endif %}
        </div>
    </div>
    <div class="container mt-5">
        <div class="container mt-5">
            <br>
        </div>
    </div>
{% endblock %}