{% extends 'admin_user/base.html' %}

{%block titulo%}CoderHouse | Inicio{%endblock%}

{% block main %}
    <section  id="service" class="section pt-0">
        <div class="container">
            <h6 class="section-title text-center">Inicio</h6>
            <h6 class="section-subtitle text-center mb-5 pb-3">Una paqueña presentacion</h6>
        </div>
    <hr>
    <table class="table table-borderless v-align-center">
        
            <tbody>
                </section>
                    <tr>
                        <td>
                        
                    </tr>
            </tbody>
    </table>
{% endblock %}